fastapi==0.111.0
uvicorn==0.30.1
python-dotenv==1.0.1
httpx==0.27.0
requests==2.32.3
beautifulsoup4==4.12.3
thefuzz==0.22.1
supabase==2.4.0
google-generativeai==0.7.2
apscheduler==3.10.4
google-api-python-client==2.131.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
Pillow==10.3.0
python-multipart==0.0.9
